@using WebApplicationNetCoreDev.Helpers;

@model JwtTokenModel

@{
    ViewData["Title"] = "Pobierz lub generuj klucz (token) API";
}

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 align-items-center">
        <div class="jumbotron bg-transparent">
            <div class="container text-center shadow p-0">
                <div class="card bg-info text-white m-0 p-0 align-middle">
                    <div class="card-header text-left">@ViewData["Title"]</div>
                    <div class="card-body bg-white text-justify">
                        <form class="form-horizontal form-material" asp-controller="Authentication" asp-action="GenerateJwtToken" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">
                            @if (null != Model && null != Model.JwtStringToken && !string.IsNullOrWhiteSpace(Model.JwtStringToken))
                            {
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    @Html.TextAreaFor(m => m.JwtStringToken, new { Class = "form-control", Readonly = "readonly", Style = "height: 8rem" })
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12">
                                    <button id="CopyButton" class="btn btn-block btn-lg btn-primary btn-rounded" type="button">Skopiuj token</button>
                                </div>
                            </div>
                            }
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(m => m.UserName, null, new { Class = "form-control", Readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    @Html.TextAreaFor(m => m.Key, new { Class = "form-control", Readonly = "readonly", Style = "height: 8rem" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(m => m.Expires, null, new { Class = "form-control", Readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12">
                                    <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Generuj i zapisz token</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Script(
    @<script type="text/javascript">
         $(function () {
             try {
                 $('#CopyButton').click(function () {
                     $('#JwtStringToken').select();
                     document.execCommand("copy");
                 });
             }
             catch (e) {
                 console.log(e);
             }
         });
    </script>
)