@using NetAppCommon.AppSettings.Models
@{ ViewData["Title"] = $"Profil użytkownika {Context.User.Identity.Name}"; }
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">@ViewData["Title"]</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="breadcrumb-item active">@Context.User.Identity.Name</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body text-center p-t-30">
                    @*<img src="../assets/images/users/5.jpg" class="img-circle" width="150" />*@
                    <h4 class="card-title m-t-10">@Context.User.Identity.Name</h4>
                    <h6 class="card-subtitle">@Context.User.Identity.AuthenticationType</h6>
                    @*<div class="row text-center justify-content-md-center">
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                        </div>*@
                </div>
                @*<div>
                        <hr />
                    </div>
                    <div class="card-body">
                        <!--<small class="text-muted">Email address</small>
                        <h6>-->
                        hannagover@gmail.com
                        <!--</h6>
                        <small class="text-muted p-t-30 db">Phone</small>
                        <h6>-->
                        +91 654 784 547
                        <!--</h6>
                        <small class="text-muted p-t-30 db">Address</small>
                        <h6>-->
                        71 Pilgrim Avenue Chevy Chase, MD 20815<!--</h6>-->
                        <div class="map-box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <small class="text-muted p-t-30 db">Social Profile</small>
                        <br />
                        <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook"></i></button>
                        <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                        <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                    </div>*@
            </div>
        </div>
        <!-- End Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                            Role i grupy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                            Katalogi systemowe
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                            Ustawienia systemowe
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <div class="card-body">
                            <dl>
                                @foreach (var claim in Context.User.Claims.OrderBy(x => x.Value.ToString()).ToList())
                                {
                                    <dt class="col-sm-12">
                                        <small>@claim.Type</small>
                                    </dt>
                                    <dd class="col-sm-12">@claim.Value</dd>
                                }
                            </dl>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                        <div class="card-body">
                            <dl>
                                @foreach (var item in Enum.GetValues(typeof(Environment.SpecialFolder)).Cast<Environment.SpecialFolder>().OrderBy(x => x.ToString()).ToList())
                                {
                                    var value = item;
                                    if (!string.IsNullOrWhiteSpace(Environment.GetFolderPath(value)))
                                    {
                                        <dt class="col-sm-12">
                                            <small>@Html.Raw(value)</small>
                                        </dt>
                                        <dd class="col-sm-12">@Html.Raw(Environment.GetFolderPath(value))</dd>
                                    }
                                }
                            </dl>
                        </div>
                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">
                        <div class="card-body">
                            <dl>
                                @{ var appSettingsModel = AppSettingsModel.GetInstance(); }
                                <dt class="col-sm-12">
                                    <small>BaseDirectory</small>
                                </dt>
                                <dd class="col-sm-12">@Html.Raw(appSettingsModel.BaseDirectory)</dd>
                                <dt class="col-sm-12">
                                    <small>UserProfileDirectory</small>
                                </dt>
                                <dd class="col-sm-12">@Html.Raw(appSettingsModel.UserProfileDirectory)</dd>
                                <dt class="col-sm-12">
                                    <small>LastInstallDate</small>
                                </dt>
                                <dd class="col-sm-12">@Html.Raw(appSettingsModel.LastInstallDate)</dd>
                                <dt class="col-sm-12">
                                    <small>ProductCode</small>
                                </dt>
                                <dd class="col-sm-12">@Html.Raw(appSettingsModel.ProductCode)</dd>
                                <dt class="col-sm-12">
                                    <small>ProductVersion</small>
                                </dt>
                                <dd class="col-sm-12">@Html.Raw(appSettingsModel.ProductVersion)</dd>
                                <dt class="col-sm-12">
                                    <small>UpgradeCode</small>
                                </dt>
                                <dd class="col-sm-12">@Html.Raw(appSettingsModel.UpgradeCode)</dd>
                            </dl>
                            @*<form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">Full Name</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Password</label>
                                        <div class="col-md-12">
                                            <input type="password" value="password" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Phone No</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Message</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">Select Country</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line">
                                                <option>London</option>
                                                <option>India</option>
                                                <option>Usa</option>
                                                <option>Canada</option>
                                                <option>Thailand</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Update Profile</button>
                                        </div>
                                    </div>
                                </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
</div>