@using WebApplicationNetCoreDev.Helpers
@using System.Web
@if (Context.Request.Query.ContainsKey("Message") && Context.Request.Query.ContainsKey("StackTrace"))
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">@Html.Raw(Context.Request.Query.Where(w => w.Key == "Message").FirstOrDefault().Value.ToString().Trim())</h4>
        <p>
            @Html.Raw(Context.Request.Query.Where(w => w.Key == "StackTrace").FirstOrDefault().Value.ToString().Trim())
        </p>
    </div>
    @Html.Script(
        @<script type="text/javascript">
             $(function() {
                 $.toast({
                     heading: '@HttpUtility.JavaScriptStringEncode(Context.Request.Query.Where(w => w.Key == "Message").FirstOrDefault().Value).Trim()',
                     text: '@HttpUtility.JavaScriptStringEncode(Context.Request.Query.Where(w => w.Key == "StackTrace").FirstOrDefault().Value).Trim()',
                     position: 'top-right',
                     loaderBg: '#ff6849',
                     icon: 'error',
                     hideAfter: 7000,
                     stack: 7
                 });
             });
         </script>
        )
}