@model AdvertisingCampaign.Models.AdvertisingCampaign
@using WebApplicationNetCoreDev.Helpers
@{ ViewData["Title"] = "Advertising Campaign Deatil"; }
<div class="row">
    <div class="col-sm-12 align-self-center text-right">
        <div class="d-flex justify-content-start align-items-center">
            <ol class="breadcrumb justify-content-start bg-light">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "AdvertisingCampaign")">Advertising Campaign</a></li>
                <li class="breadcrumb-item">
                    Detail
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerClick)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerClick)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfClicks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfClicks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
    </dl>
    <div class="form-group">
        <div class="btn-group" role="group">
            <a class="btn btn-primary" asp-action="Index">
                <i class="fas fa-backward"></i> Back to List
            </a>
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">
                <i class="fas fa-trash"></i> Delete
            </a>
        </div>
    </div>
</div>