@model IEnumerable<AdvertisingCampaign.Models.AdvertisingCampaign>
@{ ViewData["Title"] = "AdvertisingCampaign Index"; }
<div class="col-sm-12 align-self-center text-right">
    <div class="d-flex justify-content-start align-items-center">
        <ol class="breadcrumb justify-content-start bg-light">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item">Advertising Campaign</li>
            <li class="breadcrumb-item">
                <a class="btn btn-sm btn-primary" href="@Url.Action("Create", "AdvertisingCampaign")" style="margin-top: -0.25rem !important;"><i class="fa fa-plus-circle"></i> Create New</a>
            </li>
        </ol>
    </div>
</div>
@if (null != Model)
{
<div class="col-sm-12 align-self-center align-items-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.PricePerClick)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.NumberOfClicks)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TotalCost)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Modified)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        <div class="btn-group" role="group">
            <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fas fa-edit"></i> <span class="d-none d-md-inline">Edit</span></a>
            <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="fas fa-eye"></i> <span class="d-none d-md-inline">Details</span></a>
            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fas fa-trash"></i> <span class="d-none d-md-inline">Delete</span></a>
        </div>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PricePerClick)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberOfClicks)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Created)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modified)
    </td>
</tr>}
        </tbody>
    </table>
    <div class="col-sm-12 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end bg-light">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item">
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Create", "AdvertisingCampaign")" style="margin-top: -0.25rem !important;"><i class="fa fa-plus-circle"></i> Create New</a>
                </li>
            </ol>
        </div>
    </div>

</div>}