@using Kendo.Mvc.UI;
@using WebApplicationNetCoreDev.Helpers;

@model IEnumerable<NetAppCommon.Models.KendoGrid<NetAppCommon.Models.ControllerRoutingActions>>

@{ string gridName = string.Format("{0}{1}", @System.Reflection.Assembly.GetEntryAssembly().GetName().Name, @System.Reflection.Assembly.GetAssembly(typeof(NetAppCommon.Models.ControllerRoutingActions)).GetName().Name); }
@{ string gridDataSource = string.Format("{0}DataSource", gridName); }
@{ string gridActionApiUrl = string.Format("{0}", "/api/SerwisRzeczypospolitejPolskiej/MinisterstwoFinansow/KrajowaAdministracjaSkarbowa/WykazPodatnikowVatApi/RouteKendoGrid"); }
@{ ViewData["Title"] = "Dostępne akcje w Ministerstwo Finansów - Wykaz podatników VAT"; }
@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<div class="container-fluid k-content">

    <div class="row">

        @(Html.Kendo().Breadcrumb()
            .Name("breadcrumb")
            .Items(items =>
            {
                items.Add()
                .Type(BreadcrumbItemType.RootItem)
                .Href(Url.Action("Index", "DaneSzukajPodmioty"))
                .Text("Ministerstwo Finansów - Wykaz podatników VAT")
                .ShowText(true)
                .Icon("home")
                .ShowIcon(true);
                items.Add()
                .Type(BreadcrumbItemType.Item)
                .Href("javascript:void(0)")
                .Text("Dostępne akcje")
                .ShowText(true)
                .Icon("link-horizontal")
                .ShowIcon(true);
            }))

    </div>

    <div class="row overflow-auto">

        @(Html.Kendo().DataSource<NetAppCommon.Models.ControllerRoutingActions>()
            .Name(gridDataSource)
            .Ajax(
                dataSource => dataSource
                .Batch(true)
                .PageSize(1024)
                .AutoSync(false)
                .ServerOperation(false)
                .Read(read => read.Url(gridActionApiUrl).Type(HttpVerbs.Get)
            )))
        @(Html.Kendo().Grid<NetAppCommon.Models.ControllerRoutingActions>()
            .Name(gridName)
            .Columns(
            columns =>
            {
                columns.Bound(c => c.RouteId);
                columns.Bound(c => c.RouteController);
                columns.Bound(c => c.RouteAction);
                columns.Bound(c => c.RouteUrlAction);
                columns.Bound(c => c.RouteUrlAbsoluteAction);
            })
            .Sortable()
            .Scrollable()
            .DataSource(gridDataSource))

        @Html.Script(
        @<script type="text/javascript">
            $(function () {
                try {
                    var grid = $("#@gridName");
                    var gridDataSource = @gridDataSource;
                    var gridWidget = grid.data("kendoGrid");
                    gridWidget.wrapper.height($(".page-wrapper").first().height() * 0.9);
                    gridWidget.resize();
                    gridWidget.resize(true);
                }
                catch (e) {
                    console.log(e);
                }
            });
        </script>)

    </div>
</div>