@model IEnumerable<ApiWykazuPodatnikowVatData.Models.Entity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniqueIdentifierOfTheLoggedInUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusVat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Krs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidenceAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationLegalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDenialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDenialBasis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestorationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestorationBasis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemovalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemovalBasis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasVirtualAccounts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfModification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueIdentifierOfTheLoggedInUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusVat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Krs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidenceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationLegalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDenialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDenialBasis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestorationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestorationBasis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemovalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemovalBasis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasVirtualAccounts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfModification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
